.developer-link {
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.developer-link:hover {
    opacity: 1;
    color: rgba(0, 0, 0, 0.74) !important;
    transition: 0.2s;
}
